# Project exclude paths
/adapter-spigot/target/
/core/target/
/core-api/target/
/dev-server/

# IntelliJ workspace/module files generated locally
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/modules.xml
.idea/dictionaries/
.idea/shelf/
.idea/dataSources.xml
.idea/db-forest-config.xml
*.iml
